@{
    Layout = null;
}

<!DOCTYPE html>
<html id="@ViewBag.Background">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Error.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link href="~/Content/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Content/signin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-tokenfield.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.png" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="imageHeader" class="navbar-brand" href="@Url.Action("Index", "Principal")">
                    <img src="~/Images/header.png" runat="server" />
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Mes Seances", "MesSeances", "Principal")</li>
                    <li>@Html.ActionLink("Mes Invitations", "MesInvitations", "Principal")</li>
                </ul>

                <div class="nav navbar-nav navbar-right">
                    <a class="btn btn-success navbar-btn" href=@Url.Action("Creation", "Seances")><span class="glyphicon glyphicon-plus"></span> Créer une séance</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>