@model WebUI.ServiceReferencePartie.PartieClient

@{
    ViewBag.Title = "Votre carte";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}

<p>Vous avez selectioné :</p>
@{
    var codeEffet = ViewBag.IdEffet;
    var carte = Model.JoueurCourant.MesCartes.FirstOrDefault(c => c.CodeEffet.Equals(ViewBag.IdEffet));
}
<img src="@carte.Image" alt="@carte.Effet"/>

<p>L'état de la partie:</p>
<div class="panel-body">
    @{
        IEnumerable<WebUI.ServiceReferencePartie.JoueurPartieClient> liste = Model.Joueurs;

        if (!Model.Sens)
        {
            liste = liste.Reverse();
        }
    }
    <div class="list-group">
        @{
            foreach (var joueur in liste)
            {
                var css = "";
                if (joueur.Id == Model.JoueurCourant.Id)
                {
                    css = "active";
                }
                else if (joueur.IdJoueur == ViewBag.Id)
                {
                    css = "list-group-item-success";
                }
                <div class="list-group-item @css">
                    <h4 class="list-group-item-heading">@joueur.Pseudo</h4>
                    <p class="list-group-item-text">
                        Nb dés: @joueur.MesDes.Count()
                        <br/>
                        Nb cartes: @joueur.MesCartes.Count()
                    </p>
                </div>
            }
        }
    </div>
</div>

<p>A qui voulez-vous appliquer cette carte:</p>

<p>
    @{
        foreach (var joueur in Model.Joueurs)
        {
            if (joueur.Id != @Model.JoueurCourant.Id)
            {
                <p>@joueur.Pseudo (@joueur.MesDes.Count() dés et @joueur.MesCartes.Count() cartes). @Html.RadioButton("carte", @joueur.Id)</p>
            }
        }
    }
</p>

<a href="" id="submit" class="btn btn-lg btn-primary btn-block btnsc">Choisir !</a>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $("#submit").click(function(event) {
        event.preventDefault();


        if ($("input:checked").length != 0) {

            var postData = {
                idJoueur: $("input:checked").val(),
                idEffet: '@codeEffet',
                value: "0"
            };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("JoueurCarte", "Partie")',
                data: JSON.stringify(postData),
                success: function(data) {
                    window.location.href = data;
                }
            });
        }
    });
</script>